<!-- provide(:title, 'All users') %> -->
<h1>All users</h1>
<!--

<div data-pagination="" data-num-pages="numPages()"
     data-current-page="currentPage" data-max-size="maxSize"
     data-boundary-links="true"></div>
<ul class="users">
        <li ng-repeat="todo in filteredTodos">{{todo.text}}</li>
</ul>
<div data-pagination="" data-num-pages="numPages()"
     data-current-page="currentPage" data-max-size="maxSize"
     data-boundary-links="true"></div>

-->

<table class="table table-striped">
    <tr>
        <th>Email</th>

        <th></th>
    </tr>


    <tr ng-hide="users.length" >
        <td colspan="5">No users found, Please create one.</td>
    </tr>
    <tr ng-show="users.length" ng-repeat="user in users">
        <td>{{}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>

        <td>

        </td>
    </tr>
</table>