<!-- provide(:title, 'All users') %> -->
<h1>All users</h1>


<div data-pagination="" data-num-pages="numPages()"
     data-current-page="currentPage" data-max-size="maxSize"
     data-boundary-links="true"></div>

<ul class="users">
        <li ng-repeat="user in filteredUsers">
            <span gravatar name="{{user.name}}" height="80"  width="80" email-hash="{{hashemail(user.email)}}"></span>
            <a ui-sref="users.show({ id: user.id })">{{user.name}}</a> |
            <a ui-sref="users.delete({ id: user.id })" data-method="delete" data-confirm="You sure?">delete</a>

        </li>
</ul>

<div data-pagination="" data-num-pages="numPages()"
     data-current-page="currentPage" data-max-size="maxSize"
     data-boundary-links="true"></div>
