    <h1>Sign up</h1>

    <div class="row">
        <div class="span6 offset3">
            <form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="qnLuVr+owi95l4j88Ok69pggxayiaI63AQ+nrrn52is=" /></div>

                <label for="user_name">Name</label>
                <input id="user_name" name="user[name]" type="text" />

                <label for="user_email">Email</label>
                <input id="user_email" name="user[email]" type="text" />

                <label for="user_password">Password</label>
                <input id="user_password" name="user[password]" type="password" />

                <label for="user_password_confirmation">Confirmation</label>
                <input id="user_password_confirmation" name="user[password_confirmation]" type="password" />
                <br>
                <input class="btn btn-large btn-primary" name="commit" type="submit" value="Create my account" />
            </form>  </div>
        </div>


