{{user.name}},{{user.email}}

<div class="row">
    <aside class="span4">
        <section>
            <h1>
                <span gravatar name="{{user.name}}" height="80"  width="80" email-hash="{{hashemail(user.email)}}"></span>
                {{user.name}}
            </h1>
        </section>
        <section>
            <%= render 'shared/stats' %>
        </section>
        <section>
            <form accept-charset="UTF-8" action="/microposts" class="new_micropost" id="new_micropost" method="post">
                <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />
                <input name="authenticity_token" type="hidden" value="{{user.remember_token}}" /></div>
                <div class="field">
                <textarea id="micropost_content" name="micropost[content]" placeholder="Compose new micropost..."></textarea>
                </div>
                <input class="btn btn-large btn-primary" name="commit" type="submit" value="Post" />
            </form>
        </section>
    </aside>

    <div class="span8">
        <!--<render 'follow_form' if signed_in? %>

        <% if @user.microposts.any? %>

        -->
        <h3>Microposts ({{microposts.length}})</h3>
        <ol class="microposts">
            <li ng-repeat="micropost in filteredPosts">
            <span class="content">{{micropost.content}}</span>
             <span class="timestamp">
            {{timestamp(micropost.updated_at) | date:'yyyy-MM-dd yy::mm'}}
              </span>
            </li>

        </ol>

        <div data-pagination="" data-num-pages="numPages()"
             data-current-page="currentPage" data-max-size="maxSize"
             data-boundary-links="true"></div>
    </div>
</div>